@model LogInDto

@{
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}

<div class="login-container">
    <div class="center">
        @*<img src="@Url.Content("~/Content/images/banco-falabella.jpg")" alt="" class="img-responsive"
        width="200">*@
    </div>
    <div class="space-6 espacio"></div>
    <div class="position-relative">
        <div id="login-box"
             class="login-box visible widget-box no-border">
            <div class="widget-body">
                <div class="widget-main">
                    <div class="space-6"></div>
                    @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @id = "frmLogin" }))
                    {
                        @Html.AntiForgeryToken()
                        <fieldset>
                            <div class="inputs-login">
                                <label class="block clearfix">
                                    <span class="block input-icon input-icon-right">
                                        @Html.TextBoxFor(model => model.UserName, new {@placeholder = Usuario.UserName_Display, @class = "form-control"})
                                        <span class="add-on"><i class="icon-user"></i></span>
                                        <i class="ace-icon fa fa-user"></i>
                                    </span>
                                    @Html.ValidationMessageFor(model => model.UserName)
                                </label>
                                <label class="block clearfix">
                                    <span class="block input-icon input-icon-right">
                                        @Html.PasswordFor(model => model.Password, new {@placeholder = Usuario.Password_Display, @class = "form-control"})
                                        <span class="add-on"><i class="icon-asterisk"></i></span>
                                        <i class="ace-icon fa fa-lock"></i>
                                    </span>
                                    @Html.ValidationMessageFor(model => model.Password)
                                </label>
                            </div>
                            @if (!string.IsNullOrEmpty(ViewBag.MessageError))
                            {
                                <div class="space"></div>
                                <div class="field-validation-error">@ViewBag.MessageError</div>
                            }
                            <div class="space"></div>
                            <div class="clearfix">
                                <label class="inline">
                                    <input type="checkbox" class="ace" /> <span class="lbl"> @Master.Recordarme</span>
                                </label>
                                <button id="btnLogin" type="submit" class="width-100 btn btn-sm btn-success">
                                    <i class="ace-icon fa fa-key"></i>
                                    <span class="bigger-110">@Master.Acceder</span>
                                </button>
                            </div>
                            <div class="space-4"></div>
                        </fieldset>
                    }
                    <div class="center">
                        <span class="sigcomt"> Copyright &copy; 2017 NEGASAC. Todos los derechos reservados</span>
                    </div>
                    <div class="space-6"></div>
                </div>
                <!-- /.widget-main -->
            </div>
            <!-- /.widget-body -->
        </div>
        <!-- /.login-box -->
    </div>
</div>
<!-- login-Container -->